body, html {
    background: gray;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 96%;
    padding: 2%;
    position: fixed;
    top: 0;
    left: 0;
    font-weight: 500;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 2%;
    white-space: nowrap;
    font-size: 105%;
}

.navLeft {
    font-size: 150%;
    flex: 1;
    font-family: "Space Grotesk";
}

navCode, dev {
    color: #4f46e5;
}

.navMiddle, .navRight {
    white-space: nowrap;
    margin-top: 0;
    padding: 0;
    font-family: "To Be Confirmed"; /* ------------------------------------------------------ */
}

.navMiddle {
    width: 37%;
}

.navRight {
    width: 25%;
    margin-left: 10%;
}

#hire {
    border: 2px solid #4f46e5;
    padding: 8px 14px;
    border-radius: 50px;
    font-weight: 600;
    background: linear-gradient(/*------------------------------------------------------------*/)
}